@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.navbar{
    min-height: 150px !important;
    background-color: black !important;

}
nav .nav-link{
    color: white !important;
    font-size: 25px;
}
.navbar-brand{
    font-family: "fantasy";
    font-style: normal;
    font-variant: small-caps;
    font-size: 50px;
    color: white !important;
    font-weight: bold !important;
}
.navbar-brand img{
    max-height: 150px !important;
    margin-right: 10px !important;
}
.navbar-nav{
    vertical-align: middle !important;
}
.gomb{
    padding:10px !important;
    border-radius: 10px !important ;
    color: white !important;
    background-color: black !important;
    border:2px white solid !important;
    font-size: 23px !important;
    transition: 0.4s all !important;
    text-decoration: none !important;
    font-weight: bold !important;

}
.nav-item{
    margin:0px 10px 0px !important;
}

.gomb:hover{
    background-color: white !important;
    color: black !important;
    transition: 0.4s all !important;
}

@media only screen and (max-width: 1200px) {
    .navbar-brand img{
        max-height: 65px !important;
      
    }
    .navbar-brand{
        font-size: 30px;
    }
}
@media only screen and (max-width: 990px) {

.navbar-brand img{
    max-height: 80px !important;
  
}
.navbar-collapse{
    padding: 15px !important;
}
.navbar-brand{
    font-size: 30px;
}
    .nav-item{
        margin: 0 auto !important;
        padding-bottom: 10px !important;
    }
    .gomb{
        margin-top: 18px !important;
        margin-bottom: 10px !important;
        display: block !important;
    }
}
@media only screen and (min-width: 990px) {
    nav .container-fluid{
        width: 95% !important;
        
      
}
#bejelentkezesgomb{
    margin-left: 40px !important;
    margin-bottom: -20px !important;
    display: block !important;

}
}

.mt-10{
    margin-top: 80px !important;
}

.anima{
    animation: anima 2s normal forwards ease-in-out ;
}



@keyframes anima {
 0%{
    opacity: 0%;
   
 }
 100%{
    opacity: 100%;
    
 }
}
/* szabalyzat.blade.omen-ben a kártyák méretének felbontása*/
.kepmeretezes{

    width: 20%; /* Például, a kép szélességét 50%-ra csökkenti */
    margin-top: -28px; /* Például, elhelyezi a képet 20 pixellel lejjebb */
}
