@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.navbar{
    min-height: 150px !important;
    background-color: transparent !important;
    backdrop-filter: blur(20px);
    margin-left: 0 !important;
}
@media only screen and (max-width: 600px) {
    .navbar {
        width: 100%; 
        display: flex;
    }
}


nav .nav-link{
    color: white !important;
    font-size: 25px;
}
.navbar-brand{
    font-family: "fantasy";
    font-style: normal;
    font-variant: small-caps;
    font-size: 50px;
    color: white !important;
    font-weight: bold !important;
}
.navbar-brand img{
    max-height: 150px !important;
    margin-right: 10px !important;
}
.navbar-nav{
    vertical-align: middle !important;
}
.gomb{
    padding:10px !important;
    border-radius: 10px !important ;
    color: white !important;
    backdrop-filter: blur(25px) !important;
    border:2px white solid !important;
    font-size: 23px !important;
    transition: 0.4s all !important;
    text-decoration: none !important;
    font-weight: bold !important;

}
#kijelentkezes{
    background: transparent !important;
}
.nav-item{
    margin:0px 10px 0px !important;
}

.gomb:hover{
    background: white !important;
    color: black !important;
    transition: 0.4s all !important;
}

@media only screen and (max-width: 1200px) {
    .navbar-brand img{
        max-height: 65px !important;
      
    }
    .navbar-brand{
        font-size: 30px;
    }
}
@media only screen and (max-width: 990px) {

.navbar-brand img{
    max-height: 80px !important;
  
}
.navbar-collapse{
    padding: 15px !important;
}
.navbar-brand{
    font-size: 30px;
}
    .nav-item{
        margin: 0 auto !important;
        padding-bottom: 10px !important;
    }
    .gomb{
        margin-top: 18px !important;
        margin-bottom: 10px !important;
        display: block !important;
    }
}
@media only screen and (min-width: 990px) {
    nav .container-fluid{
        width: 95% !important;
        
      
}
#bejelentkezesgomb{
    margin-left: 40px !important;
    margin-bottom: -20px !important;
    display: block !important;

}
}

.mt-10{
    margin-top: 80px !important;
    color: white !important;
}

.anima{
    animation: anima 2s normal forwards ease-in-out ;
    color: white !important;
}
@keyframes anima {
 0%{
    opacity: 0%;
   
 }
 100%{
    opacity: 100%;
    
 }
}





/*

Azért van a 2 osztálynak ugyan olyan beállításai mert monitoros nézetben ezek a beállításokat akartam használni a 6 kártyaképhez,
viszont telefonos nézetben a 3 kártya már összecsúszik ezekkel a beállításokkal ezért kellett nekik egy külön osztály,
hogy külön kezeljem a 3 képet a "display: block;" beállítással ami a 3. képet egy új sorba teszi 600px vagy annál kisebb felbontásnál. 

*/

.card-szabalyzat{
    display: flex;
    justify-content:center;
    gap: 10px;    
}
.card-szabalyzat2{
    display: flex;
    justify-content:center;
    gap: 10px;    
}


.kepmeretezes{

    width: 20% !important;    
    margin-top: -28px !important; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important; /* Árnyék a képkereten */
    

}
/* Telefonos nézethez és a többi eszközhöz a reszponzív beállítások */
@media (max-width: 600px) {
    .kepmeretezes {
        width: 40% !important; /*Képek felbontása legyen nagyobb telefonos és egyéb eszközös nézetben */
    }
}


.kepmeretezes2{

    width: 20% !important;    
    margin-top: -28px !important; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    

}
@media (max-width: 600px) {
    .kepmeretezes2 {
        width: 40% !important;
    }
    .card-szabalyzat2 {
        display: block;
                
    }
    
}








/* Valamiért ha teszel ide !importantot nem jeleniti meg a kártyákat */
.card-img {
    filter: brightness(0%);
}



.margo{
    
    margin-left: 40px !important;
    margin-right: 40px !important;

}


.kattints{
    font-size: 20px !important;
}




.center-button {
    margin-left: 5% !important;
    border: 1px solid rgb(0, 0, 0) !important;
    margin-bottom: 80px !important;
    margin-top: 180px !important;
}

.hom{
   
    background-color: #193444cb;
    padding: 40px;
    margin: 50px !important;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
@media only screen and (max-width: 990px) {
    .hom{
        margin: 10px !important;
        margin-top: 40px !important;
        padding: 30px;
    }
}
.szoveg-felirat{

    width: fit-content;
    margin: 0 auto !important;
    padding-top: 100px !important;
    font-size: 70px !important;
    font-family: "fantasy" !important;
    font-weight: bold !important;
    color: #ffffff !important;
    padding-bottom: 7px;
    border-bottom: 2px white solid;
    
}
@media only screen and (max-width: 600px) {
    .szoveg-felirat {
        /*Telefonos nézetben 50 px-től nagyobb beállítással már a div túlnyúlik a navbáron ami egy hézagot eredményez a navbár végétől a képernyő bal széléig. */
        font-size: 50px !important;
        font-family: "fantasy" !important;
        font-weight: bold !important;
        color: #ffffff !important;
   
        padding-bottom: 7px;
        border-bottom: 2px white solid;
        
    }
}

.szoveg-textek{
    font-weight: normal !important;
    text-shadow: 0 0 10px rgba(1, 0, 66, 0.8) !important; /* Árnyék a szöveg mögött */
    padding-bottom: 20px !important;
}



/*Login - Register wrapper --------------------------------------- */

.wrapper-loginhez {
    position: relative !important;
    background: transparent !important;
    width: 400px !important;
    height: 400px !important;
    box-shadow: 0 0 30px rgba(0,0,0,0.5) !important;
    border: 2px solid white !important;
    border-radius: 40px !important;
    backdrop-filter: blur(8px) !important;
    margin: 0 auto !important;
}
.wrapper-loginhez .pozicionalas {
    position: relative !important;
    width: 300px !important;
    height: 200px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
}

@media only screen and (max-width: 430px) {
    .wrapper-loginhez {

        backdrop-filter:none !important;
        /* Telefonos nézetben a blur elhomályosítja a wrappert */
        background-color: #558196 !important; 
        position: relative !important;
        width: 120% !important; 
        height: auto !important; 
        margin: 0 auto !important;
        /* Ez igazítja középre a dolgokat */
        transform: translateX(-8%) !important; 
        

    }
    .wrapper-loginhez .pozicionalas {
        width: 100% !important; 
        height: auto !important; 
        margin-top: 10px !important;
        margin-bottom: 12px !important;
    }
    .mb-3.d-flex {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        gap: 10px; 

    }

    
}


.wrapper-registhez{

    position: relative !important;
    background: transparent !important;
    width: 400px !important;
    height: 500px !important;
    box-shadow: 0 0 30px rgba(0,0,0,0.5) !important;
    border: 2px solid white !important;
    border-radius: 40px !important;
    /* 20-tól fentebb veszed homyályos lesz a wrapperbox telos nézetben */
    backdrop-filter: blur(8px) !important;
    margin: 0 auto !important;

}
.wrapper-registhez .pozicionalas2{

    position: relative !important;
    width: 300px !important;
    height: 200px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;


}
@media only screen and (max-width: 430px) {
    .wrapper-registhez {

        backdrop-filter:none !important;
        background-color:  #558196  !important; 
        position: relative !important;
        width: 130% !important; 
        height: auto !important; 
        margin: 0 auto !important;
        /* Ez igazítja középre a dolgokat */
        transform: translateX(-12%) !important; 
        

    }
    .wrapper-registhez .pozicionalas2 {
        width: 90% !important; 
        height: auto !important; 
        margin-top: 10px !important;
        margin-bottom: 12px !important;
    }

}


.p-white {
    color: white !important;
    font-family: "fantasy" !important;
    font-weight: bold !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.szerkeztes {
    font-size: 20px !important;
}

.login-regist-gomb{

    border-radius: 10px !important ;
    color: white !important;
    background-color: rgb(17, 140, 255) !important;
    border:1px white solid !important;
    font-size: 20px !important;
    text-decoration: none !important;
    font-weight: bold !important;

}

/*----------------------------------------------------------------*/



/* Elérhetőségeknél a githubos boxok ------ ---------------------*/


.uzemeltetoktext{
    font-weight: bold;
    font-size: 120%;
}
.uzem-alt-text{
    font-family:cursive;
    font-size: 80%;

}




.semenckidavid{
    background-color: #00331f;
    width: 9%;
    border-radius: 10px;
    
}
.semenckidavid:hover {
    border: 2px solid #00bb09; 
    cursor: pointer;
}



.farkasdavid{
    background-color: #2b0000;
    width: 9%;
    border-radius: 10px;

}
.fdavid{
    margin-top: 10%;
}
.farkasdavid:hover {
    border: 2px solid #ff0000;
    cursor: pointer;
}



.tiszatibor{
    background-color: #000000;
    width: 9%;
    border-radius: 10px;
    cursor: pointer;

}
.tiszatibor:hover {
    border: 2px solid #747474; 
    cursor: pointer; 
}


.uzemeltetok{
    display: flex;
    justify-content: center;
    gap: 1%;
    
}


@media only screen and (max-width: 900px) {
    .semenckidavid{
        width: 70%;
        
    }
    .sdavid{
        font-size: 90%;
        margin-top: 23%;
    }


    .farkasdavid{
        width: 70%;
        
    }
    .fdavid{
        font-size: 90%;
        margin-top: 23%;
    }


    .tiszatibor{
        width: 70%;

    }
    .ttibor{
        font-size: 90%;
        margin-top: 23%;
        margin-right: 2%;
        margin-left: 2%;

        
    }    
    
}





/* Főoldal (Omen) ------ ----------------------------------------------------*/


.card-wrapper {
    
    padding-top: 10%;
    display:flex !important;
    flex-direction: wrap !important; 
    gap:5%;
    margin: auto;
}
.cards{
    
    height: 70%;
    width:70%;
    margin: auto;
    
    
     
}



.price-box {
    width: fit-content;
    border-radius: 10px;
    padding-top: 3%;
    margin:0 auto !important;

    background-color: rgb(57, 14, 97);
    box-shadow: 5px 5px 5px 10px rgba(152, 88, 224, 0.5);
            
}



.card-image{
height: 60%;
width: 60%;
}



@media only screen and (max-width: 900px) {
    .card-image{
        height: 80%;
        width: 80%;
        }
        .coming-card{
           scale: 120%;
           margin-bottom: 2.5cm !important;
        }
}













.card-price{
    padding: 10px !important;
    border:2px solid white;
    border-radius:20px !important;
    width: fit-content !important;
    color:white;
    margin:0 auto !important;
    font-size: 24px ;
    font-weight: bold ;
   backdrop-filter: blur(5px) !important;
    
}
.price-box .kosar-ikon{
    font-size: 200%;
    cursor: pointer;
}




.copyright{
    background-color:#6692ad;
    text-align: center;
    width: 100%;
    padding: 1%;
    margin-top: 18%;
    
}
.c-p{
    color: #000000;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}
.copyright-logo{
    width: 5%;
    height: 5%;
}


.comings{
    display: flex;
    gap:2%;
    
    
}
.coming-card{
    padding-left:70px  !important;
    padding-right:70px  !important;
   
}

.newest1{

    border-radius: 20px;

}
.newest2{
    border-radius: 20px;

}





.card{
    margin:0 auto !important;
    margin: 20px !important;
    background-color: transparent !important;
    border:none !important;
}
#kartyak{
    margin-top:150px !important;
}
.row{
    margin-left: 0px !important;
    margin-right:  0px !important;;
}

.card img{
    margin:0 auto !important;
}









::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1b3342;
  }

  ::-webkit-scrollbar-thumb {
    background: #335a77;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #203b4d;
  }



input[type="search"]{
    background-color: rgba(255, 255, 255, 0.253) !important;
    backdrop-filter: blur(20px) !important;
    color: white !important;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}
input[type="search"]::placeholder{
    color: white !important;
}
.input-group button{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(20px) !important;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.profil{
    margin: 0 auto !important;
    width: fit-content;
    backdrop-filter: blur(20px ) !important;
  
    color: white !important;
    margin-top: 20vh !important;
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px !important;
}
.profil .adatok{
    border-top: white 2px solid;
    padding: 10px;
}

.navbar{
    position: sticky !important;
    top:0;
    left: 0;
    z-index: 1;
}